*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: $color-dark-bg;
	color: $color-text;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $color-text;
}
