/* Fonts
*/ //////////////////////////////////////////////*/

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lora", serif;
$font-logo: "Crimson Pro", serif;

/* Colors
*/ //////////////////////////////////////////////*/
