/* Fonts
*/ //////////////////////////////////////////////*/

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lora", serif;
$font-logo: "Crimson Pro", serif;

/* Colors
*/ //////////////////////////////////////////////*/
$color-dark-bg: #181719;
$color-text: hsla(0, 0%, 100%, 1);
